* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
}

body {
  background-image: url('file_000000005ec062438a0e8594707547fa.png');
  background-size: cover;
  background-position: center;
  font-family: Arial, sans-serif;
}

.navbar {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 1rem;
  position: fixed;
  width: 100%;
  top: 0;
}

.navbar ul {
  list-style: none;
  display: flex;
  justify-content: right;
}

.navbar li {
  margin: 0 15px;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.navbar a:hover {
  text-decoration: underline;
}
