* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  font-family: Arial, sans-serif;
  background: url('IMG-20250505-WA0018.jpg') no-repeat center center fixed;
  background-size: cover;
  color: white;
}
.banner {
  width: 100%;
  padding: 20px;
  background-color: white ;
  display: flex;
  align-items: center;
}

.logo {
  height: 50px;
}

/* Launching soon message */
.launch-section {
  height: calc(100% - 80px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.launch-section h1 {
  font-size: 3em;
  margin-bottom: 20px;
}

.launch-section p {
  font-size: 1.5em;
}
